.chip {

  &__content {
    display: flex;
    border: 2px solid #071F62;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: #071F62;
    margin-left: 200px;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
}