.header {
  display: flex;
  height: 75px;
  width: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  margin-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: transparent;
}
.nav__logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  color: #071F62;
}
.nav__bar {
  margin-left: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #071F62;
}
.nav__a {
  margin: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #071F62;
}

.hero {
  width: 300px;
  margin-left: 100px;
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 100px;
  color: white;
  margin-bottom: 0px;
}
.hero__subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.25em;
  color: #071F62;
  opacity: 0.5;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.gallery__web {
  height: 200px;
  width: 200px;
  background-color: transparent;
  color: white;
  margin-left: 25px;
}
.gallery__key {
  height: 200px;
  width: 250px;
  background-color: transparent;
  color: white;
}
