.header {
  display: flex;
  height: 75px;
  width: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  margin-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: transparent;
}
.nav__logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 45px;
  color: #071F62;
}
.nav__bar {
  margin-left: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #071F62;
}
.nav__a {
  margin: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #071F62;
}

.hero {
  width: 300px;
  margin-left: 100px;
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 100px;
  color: white;
  margin-bottom: 0px;
}
.hero__subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.25em;
  color: #071F62;
  opacity: 0.5;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.gallery__web {
  height: 200px;
  width: 200px;
  background-color: transparent;
  color: white;
  margin-left: 25px;
}
.gallery__key {
  height: 200px;
  width: 250px;
  background-color: transparent;
  color: white;
}

.about {
  display: grid;
  margin-left: 100px;
  margin-top: 50px;
  height: 1000px;
  grid-column: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". . . . . . . " ". .  header header . . ." ". . image image  . . eye" ". . image image . content content" ". . image image . content content";
}
.about__image {
  grid-area: image;
}
.about__image2 {
  grid-area: eye;
}
.about__header {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #071F62;
  grid-area: header;
}
.about__content {
  display: flex;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  width: 500px;
  color: white;
  background-color: #071F62;
  border: 2px solid #071F62;
  border-radius: 15px;
  grid-area: content;
  height: 300px;
}
.about__content__chip {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: #071F62;
  border: 2px solid #071F62;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 5px;
}
.about__content__chip__icon {
  display: flex;
  height: 25px;
  background-color: white;
  color: #071F62;
  justify-content: center;
}

.chip__content {
  display: flex;
  border: 2px solid #071F62;
  border-radius: 50px;
  height: 30px;
  width: 100px;
  justify-content: center;
  align-items: center;
  background-color: #071F62;
  margin-left: 200px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.avatar {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.avatar__icon {
  height: 300px;
}
.avatar__tech-stack {
  height: 300px;
}

.my-work {
  height: 700px;
}
.my-work__header {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
}
.my-work__header__text {
  grid-area: "header";
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  line-height: 150px;
  display: flex;
  justify-content: flex-end;
  color: #071F62;
}

.background {
  background-image: url(./images/cool-background.png);
  background-color: lightgray;
  width: auto;
  height: auto;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  margin-top: 75px;
  justify-content: space-around;
}

hr {
  border: 1px solid #071F62;
  margin: 10px 50px;
}
