@use "../navbar";
@use "../hero";
@use "../herogallery";
@use "../aboutme";
@use "../chip";
@use "../avatar";
@use "../mywork";
@use "../contact";

@media only screen and (min-width: 766px) and (max-width: 992px) {
  
  .wave {
  font-size: 5em;
  animation-name: wave-animation; 
  animation-duration: 2.5s;      
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%;       
  display: inline-block;
  }
  .chip {
    height: 20px;
    width: 75px;
  }

  .background {
    width: 100vw;
  }

  .nav {

    &__bar {
      margin-left: 5px;
    }
    
    &__a {
      font-size: 15px;
    }
  }
  

  .hero {
    margin-left: 5%;

    &__title {
      font-size: 50px;
      line-height: 50px;
    }
  }

  .gallery {
    gap: 5px;

    &__web {
      height: 150px;
      width: 150px;
      margin-left: 5px;
    }

    &__key {
      height: 125px;
      width: 150px;

    }
  }

  .avatar {
    &__icon {
      height: 200px;
      margin-top: 15px;
    }

    &__tech-stack {
      height:200px;
    }
  }

  .about {
    margin-left: 25px;
    margin-top: 25px;
    height: 750px;
  

    &__image {
      grid-area: image;
      height: auto;
      width: 300px;
    }

    &__header {
      font-size: 75px;

    }

    &__content {
      width: 400px;
      color: white;
      height: 300px;
      font-size: 17px;
    }
    .wave {
      font-size: 35px;
    }
}

.my-work {
  justify-content: center;
  flex-direction: column;

  &__header {
    justify-content: center;

  }

  &__header__text {
    font-size: 50px;
    line-height: 150px;
  }
    &__cards {
    display: flex;
  } 
}

.contact {

  &__header {
    font-size: 40px;
    width: 500px;
    line-height: 50px;
    margin-left: 0px;
  }

  &__icons > img {
   height: auto;
   width: 50px;
  }
  &__info {
    flex-direction: column;
    align-items: center;
  }
}
}