@use "../navbar";
@use "../hero";
@use "../herogallery";
@use "../aboutme";
@use "../chip";
@use "../avatar";
@use "../mywork";
@use "../contact";

@media only screen and (min-width: 766px) and (max-width: 992px) {

  .chip {
    height: 20px;
    width: 75px;
  }

  .background {
    width: 100vw;
  }

  .nav {

    &__bar {
      margin-left: 5px;
    }
    
    &__a {
      font-size: 10px;
    }
  }
  

  .hero {
    margin-left: 5%;

    &__title {
      font-size: 50px;
      line-height: 50px;
    }
  }

  .gallery {
    gap: 5px;

    &__web {
      height: 150px;
      width: 150px;
      margin-left: 5px;
    }

    &__key {
      height: 125px;
      width: 150px;

    }
  }

  .avatar {
    &__icon {
      height: 200px;
      margin-top: 15px;
    }

    &__tech-stack {
      height:200px;
    }
  }

  .about {
    margin-left: 25px;
    margin-top: 25px;
    height: 1000px;
  

    &__image {
      grid-area: image;
      height: auto;
      width: 300px;
    }

    &__image2 {
      grid-area: eye;
      height: auto;
      width: 200px;
    }

    &__header {
      font-size: 75px;
    }

    &__content {
      width: 400px;
      color: white;
      height: 300px;
      font-size: 15px;
    }

    &__content__chip {
      width: 300px;
      font-size: 15px;
      padding: 5px;
    }

    &__content__chip__icon {
      height: 20px;
    }
}

.my-work {
  #card3 {
    margin: 5%;
    margin-left: 20%;
  }
  justify-content: center;

  &__header {
    justify-content: center;

  }

  &__header__text {
    font-size: 50px;
    line-height: 150px;
  }

}

.contact {

  &__header {
    font-size: 40px;
    width: 500px;
    line-height: 50px;
    margin-left: 0px;
  }

  &__icons > img {
   height: auto;
   width: 50px;
  }
  &__info {
    flex-direction: column;
    align-items: center;
  }
}
}